#header {
overflow: hidden;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1;
}


a {
  color: white;
  text-decoration: none;
}


hgroup {
padding-left: 10%;
text-align: left;
}


a:hover:not(active) {
  color: orange;
}


.active {
  color: orange;
}


nav {
  float: right;
  padding: 3.5%;
  font-size: 200%;
  font-style: bold;
}


.container {
  border-style: solid;
  border-color: purple;
  border-width: thick;
  background-color: black;
  height: 20%;
  border-spacing: none;
}


#portfolio {
  margin-top: 30px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: grey;
  position: relative;
  z-index: 0;

}

img {

}
